* {
    box-sizing: border-box;
}

body {
    background-color: #fff9db;
    border: #da77f2 3px;
    text-align: center;
    font-family: "Comic Neue";
    font-weight: bold;
}

header h1 {
    border: solid 2px #a5d8ff;
    color: #da77f2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px 20px 50px 20px;
    border-radius: 30px;
}



.inline1{
    
    display: flex;
    

}

.inline2 {
    display: flex;

}
.Knowme {
    background-color: #ffc9c9;
    color: #69DB7c;
    border: #69DB7c 2px solid;
    display: flex;
    width: 195px;
    height: 240px;
    text-align: center;


}

.categories1{
    background-color: #d0bfff;
    border: solid 2px #52acf7;
    width: 195px;
    height: 240px;
    color: #52acf7;

}

.categories2 {
    background-color: #ffec89;
    color: #d0bfff;
    width: 195px;
    height: 240px;
    border: #d0bfff solid 2px;
}

.categories3 {
    background-color: #f08c00;
    color: #a5d8ff;
    width: 195px;
    height: 240px;
    border: #d0bfff solid 2px;
}

.categories4 {
    background-color: #f08c00;
    color: #a5d8ff;
    width: 195px;
    height: 240px;
    border: #d0bfff solid 2px;
}

.categories5 {
    background-color: #a5d8ff;
    color: #9775fa;
    width: 195px;
    height: 240px;
    border: #9775fa solid 2px;
}

.categories6{
    background-color: #e9ecef;
    color: #fab005;
    width: 195px;
    height: 240px;
    border: #9775fa solid 2px
}


footer, h3 {
    background-color: #f8f1ee;
    border: 1px solid #fab005;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}



